.redbox{
    height: 300px;
    width: 200px;
    background-color: lightsalmon;
    color: darkblue;
    margin:10px;
    padding: 5px;
    float: left;

}
.bluebox{
    height: 300px;
    width: 200px;
    background-color: blue;
    color: lightcoral;
    margin:10px;
    padding: 5px;
    float: left;
}